@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.bell-shake {
  animation: shake 0.5s ease-in-out;
}

.item {
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hoverable:hover {
  background-color: var(--hover-bg);
}

.unread {
  background-color: var(--unread-bg);
}